.chat-container {
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
}

.chat-header {
    padding: 16px 0px;
    background-color: #F8F9FA;
    position: fixed;
    top: 0;
    left: 16px;
    width: 424px;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-arrow {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.12), 0px 15px 35px 0px rgba(48, 49, 61, 0.08);
}

.back-arrow svg {
    width: 24px;
    height: 24px;
    color: #474E5A;
    margin: 0 auto;
}

.header-labels {
    display: flex;
    flex-direction: column;
}

.header-subtitle {
    font-family: 'SF Pro Text';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #596171;
}

.header-title {
    font-family: 'SF Pro Text';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: -0.01em;
    color: #353A44;
}

.messages-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #F8F9FA;
    padding: 56px 0px 140px;
} 